*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}
.home{
  width: max-content;
}
.logo-pic{
  height: 35px;
  vertical-align: middle;
}
.demo-logo{
  font-weight: 500;
  font-size: 1.25rem;
  font-family:  Noto Sans Display, sans-serif;
  color: black;
}
.side-logo{
  display: flex;
  gap: 1rem;
 align-items: center;
}
.card-style{
  width:57%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
  margin-left: 4.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 10px 10px 5px grey;
}
.options-fields{
  display: flex;
  justify-content: space-evenly;
  text-align: center;  
font-size: larger;
}
.ant-card-body{
  padding: 5px;
  text-align: center;
}
.inside-options{
  padding-left: 7px;
  margin-top: 1.25rem;
  width:9rem;
  font-size: larger;
  text-align: center;
}
.options-select{
  width: 75%;
  font-size: large;
}
.row-design{
  background-color: #F8F8F8;
}
.cart-items{
  font-size: 1.25rem;
  width: max-content;
  padding: 2rem;
}
.left-cart-card{
  margin-left: 2rem;
  text-align: center;
}
.cart-items-textSide{
  border-bottom: lightgrey outset 1px;
  padding: 2rem 3rem;

}
.login-form{

background-color: rgba(255, 255, 255, 0.915);
padding: 2rem;
margin-top: 5rem;
line-height: 2.5;
box-shadow: -10px 3px 20px grey;

}
.login-title{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.login-input-fields{
  width: 100%;
  margin: 0.6rem 0rem;
    font-size: 1rem;
    padding: 0.4rem;
}